* {
    box-sizing: border-box;
}
.screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f2f5;
}
.page {
    flex: 1;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 980px;
    display: flex;
    gap: 48px;
    align-items: center;
}

.left {
    flex: 1;
}

.logo-img {
    width: 300px;
    height: auto;
}

.subtitle {
    margin-top: 12px;
    font-size: 30px;
    line-height: 1;
    color: #1c1e21;
}

.right {
    width: 400px;
}



.card {
    background: #fff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.12);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}



.input {
    height: 48px;
    padding: 0 14px;
    border: 1px solid #dddfe2;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

.input:focus {
    border-color: #1877f2;
    box-shadow: 0 0 0 2px rgba(24,119,242,0.2);
}



.btn-login {
    height: 48px;
    border: none;
    border-radius: 6px;
    background: #1877f2;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.btn-login:hover {
    background: #166fe5;
}



.link-forgot {
    text-align: center;
    color: #1877f2;
    font-size: 14px;
    text-decoration: none;
}

.link-forgot:hover {
    text-decoration: underline;
}



.divider {
    height: 1px;
    background: #dadde1;
    margin: 8px 0;
}




.btn-create {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #42b72a;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border-radius: 6px;
}

.btn-create:hover {
    background: #36a420;
}





@media (max-width: 900px) {
    .container {
        flex-direction: column;
        gap: 24px;
        width: 100%;
        text-align: center;
    }

    .left {
        align-items: center;
    }

    .right {
        width: 100%;
        max-width: 400px;
    }

    .page {
        align-items: flex-start;
        padding: 24px 0;
    }
}

.footer-space {
    width: 100%;
    background: #fff;
    height: 180px;
}

