body {
    background-color: #d3eced;
    font-family: Arial, sans-serif;
}
#main-title{
    color: #31a88a;
    font-size: 32px;
    text-align: center;
}
p {
    color: #968de0;
    font-size: 16px;
}
img{
    ;
}
a:link {
    color: blue;
    text-decoration: none;
}

/**/
a:visited {
    color: purple;
}

/*курсор*/
a:hover {
    color: red;
    text-decoration: underline;
}

/*клик*/
a:active {
    color: orange;
}

ul.custom-list {
    list-style-type: none;
    padding-left: 0;
}

ul.custom-list li {
    position: relative;
    padding-left: 20px;
}

ul.custom-list li::before {
    content: "•";
    color: red;
    position: absolute;
    left: 0;
}
ol {
    padding-left: 30px;
    margin-bottom: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #a89ff5;
}


